<div>
    <div class="header">
        <h1> My Doctor Backend</h1>
        <p></p>
    </div>
    <div class="container">
        <br clear="all"/>
        <form name="itemGenForm">
            <h2 class="title">Prescription Form</h2>
            <div class="block">
                <!--Item Form-->


    <fieldset>
        <legend>Disease</legend>
                <table>

                        <tr>
                           <td>Age</td>
                           <td>
                               <select name="age" ng-model="item.age"
                                       ng-options="age.value as age.title for age in age"
                               >
                               </select>
                           </td>
                       </tr>
                    <tr>
                           <td>Feelings</td>
                           <td>
                               <input type="text" placeholder="feelings" name="feelings" ng-model="item.feelings">
                           </td>
                       </tr>
                    <tr>
                           <td>Problem</td>
                           <td>
                               <input type="text" name="problem" placeholder="problem" ng-model="item.problem">
                           </td>
                       </tr>

                    <tr>
                        <td>Enter medicine</td>
                        <td>

                            <input type="text" placeholder="medicine name" name="medicine" ng-model="item.medicine">
                        </td>
                    </tr>
                    <tr>
                        <td>Treatment brief</td>
                        <td><textarea name="description" ng-model="item.description   " style="min-width: 550px;min-height: 150px"></textarea></td>
                    </tr>
                </table>
        <div class="action">
            <button ng-if="selectedItemIndex == null" class="button button--light"
                    ng-click="itemGenForm.$dirty && itemGenForm.$valid && addItem(item)"> Add
            </button>
            <button ng-if="selectedItemIndex != null" class="button button--light"
                    ng-click="itemGenForm.$dirty && itemGenForm.$valid && editPrescription(item)">
                Update
            </button>
        </div>

        {{item |json}}
    </fieldset>


                <!--Item Table-->

                <table>
                    <tr>
                        <th>Age</th>
                        <th>Feelings</th>
                        <th>Problem</th>
                        <th>Medicine</th>
                        <th>Description</th>
                        <th>Edit/delete</th>


                    <tr ng-if="prescriptions.length == 0">
                        <td colspan="8">Not item added</td>
                    </tr>

                    <tr ng-if="prescriptions>0" ng-repeat="prescription in prescriptions track by $index">
                        <td>{{prescription.age}}</td>
                        <td>{{prescription.feelings}}</td>
                        <td>{{prescription.problem}}</td>
                        <td>{{prescription.medicine}}</td>
                        <td>{{prescription.description}}</td>

                        <td>
                            <input ng-click="editItem($index)" class="img" type="image" src="img/edit.png"/>
                            <input ng-click="deleteItem($index)" class="img" type="image" src="img/delete.png"/>
                        </td>
                    </tr>
                </table>
            </div>
        </form>
    </div>



</div>